1. What are data structures, and why are they important ?
>>> Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
**Its importance**
Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
Simplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations
Conserve memory usage

2. Explain the difference between mutable and immutable data types with examples
>>> Mutable data types are objects whose values can be changed after they are created. This means you can modify the internal state of the object without creating a new object.
Examples - list: You can add, remove, or modify elements within a list.
dict (dictionary): You can add, remove, or update key-value pairs in a dictionary.
set: You can add or remove elements from a set.
Immutable data types are objects whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value.
Examples - int: You cannot change the value of an integer. When you perform an operation like addition, a new integer object is created with the result.
float: Similar to integers, floats are immutable.
str (string): Strings cannot be modified in-place. Operations like concatenation create new strings.
tuple: Tuples are like immutable lists. Once created, you cannot change their elements.

3. What are the main differences between lists and tuples in Python ?
>>> Lists:
Mutable: You can change their elements after creation.
Defined using square brackets: my_list = [1, 2, 3]
Generally used for collections of items that may need modification.
Tuples:
Immutable: You cannot change their elements after creation.
Defined using parentheses: my_tuple = (1, 2, 3)
Generally used for collections of items that should remain constant.

4.  Describe how dictionaries store data.
>>> Dictionaries in Python store data as key-value pairs. Each key is unique and associated with a value.
Think of it like a real dictionary:
Keys are the words you look up (e.g., "apple").
Values are the definitions of those words (e.g., "a round fruit").
Accessing data: You use the key to retrieve its corresponding value.

5. Why might you use a set instead of a list in Python ?
>>> Uniqueness is important: Sets automatically ensure that all elements are unique, eliminating duplicates.
Membership testing is frequent: Checking if an element is present in a set is very fast.
Order doesn't matter: Sets don't preserve the order of elements, unlike lists.

6. What is a string in Python, and how is it different from a list ?
>>> Mutability: Strings are immutable, while lists are mutable.
Data types: Strings hold only characters, while lists can hold various data types (including numbers, strings, and even other lists).
Syntax: Strings use quotes (' or ") Example: "hello", while lists use square brackets ([]). Example: [1, 2, 'a'].

7. How do tuples ensure data integrity in Python ?
>>> Tuples ensure data integrity in Python by being immutable, meaning once they are created, their elements cannot be changed, added, or removed. This prevents accidental modification of data, preserving its original state throughout the program.

8. What is a hash table, and how does it relate to dictionaries in Python ?
>>> A **hash table** stores data as key-value pairs, using a hash function for fast lookups. In Python, **dictionaries** are implemented using hash tables, allowing efficient access to values via keys.
my_dict = {"name": "Alice", "age": 25}
Here, the keys "name" and "age" are hashed to quickly access their associated values.

9. Can lists contain different data types in Python ?
>>> Yes, lists in Python can contain different data types. A single list can store integers, strings, floats, and even other lists or objects.
Example:
my_list = [1, "hello", 3.14, [2, 3]]

10. Explain why strings are immutable in Python.
>>> Strings are **immutable** in Python to improve **memory efficiency**, ensure **thread safety**, support use as **dictionary keys**, and enable **performance optimizations** like string interning.

11. What advantages do dictionaries offer over lists for certain tasks ?
>>> Dictionaries offer **faster lookups** (O(1) access time), store data as **key-value pairs**, and ensure **unique keys**, making them more efficient than lists for tasks requiring fast access and data mapping.

12.  Describe a scenario where using a tuple would be preferable over a list.
>>> A tuple is preferable over a list when you need to store **immutable** data, such as a set of coordinates `(x, y)` or constant configuration values, where the data should not be modified. This ensures data integrity and can improve performance due to immutability.

13. How do sets handle duplicate values in Python ?
>>> Sets in Python automatically **remove duplicate values**. If you try to add a duplicate element, it will be ignored, ensuring that each element in a set is unique.

14.  How does the “in” keyword work differently for lists and dictionaries ?
>>> In Python:
- For **lists**, the `"in"` keyword checks if a value **exists** in the list. It performs a linear search, so it has **O(n)** time complexity.
  Example:
  my_list = [1, 2, 3]
  2 in my_list  # Returns True
- For **dictionaries**, the `"in"` keyword checks if a **key** exists in the dictionary, not the value. It performs a fast **hash lookup**, so it has **O(1)** time complexity.
  Example:
  my_dict = {"a": 1, "b": 2}
  "a" in my_dict  # Returns True

15. Can you modify the elements of a tuple? Explain why or why not ?
>>> No, you cannot modify the elements of a tuple because tuples are **immutable** in Python. Once created, their contents cannot be changed, added, or removed to ensure data integrity and optimize performance.

16. What is a nested dictionary, and give an example of its use case ?
>>> A **nested dictionary** is a dictionary where the values themselves are dictionaries. It allows you to represent more complex data structures, such as hierarchical relationships.
**Example use case**: Storing student information, where each student has multiple attributes like name, age, and subjects.
python
students = { "Alice": {"age": 20, "subjects": ["Math", "Science"]},
    "Bob": {"age": 22, "subjects": ["History", "Art"]}}
In this case, the outer dictionary stores student names as keys, and each student's information is stored in an inner dictionary.

17. Describe the time complexity of accessing elements in a dictionary
>>> The time complexity of accessing elements in a **dictionary** is **O(1)** on average. This is because dictionaries use a **hash table** to store key-value pairs, allowing for fast lookups by directly hashing the key to its corresponding value. However, in rare cases (e.g., hash collisions), it can degrade to **O(n)**, but this is uncommon.

18. In what situations are lists preferred over dictionaries
>>> Lists are preferred over dictionaries when you need to store **ordered** collections of items, especially when the order matters or when you need to access elements by **index** rather than a key. Lists are also more suitable when you have a small number of items or need to **iterate over** elements in sequence.
Example: Storing a collection of numbers for sorting or performing operations on each item.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
>>> Dictionaries are **unordered** because their keys are stored in a hash table, not in any specific order. This allows for fast lookups (O(1)), but the order of elements is not guaranteed (except in Python 3.7+ where insertion order is preserved).

20. Explain the difference between a list and a dictionary in terms of data retrieval.
>>> In a **list**, data is retrieved by **index** (e.g., `my_list[0]`), which is ordered and sequential, making access slower (O(n) for searching).
In a **dictionary**, data is retrieved by **key** (e.g., `my_dict["key"]`), allowing for **faster** access (O(1) on average) due to hash-based lookups.

In [1]:
# Practical Questions

In [2]:
#1 Write a code to create a string with your name and print it.
my_name = " Justin"  # Replace with your name
print(my_name)

 Justin

In [11]:
#2 Write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [13]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
a = "Python Programming"
sliced_string = a[:3]
print(sliced_string)

Pyt

In [15]:
#4 Write a code to convert the string "hello" to uppercase.
a = "hello"
a.upper()

'HELLO'

In [16]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [18]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
a = range(1, 6)
my_list = list(a)
print(my_list)

[1, 2, 3, 4, 5]

In [19]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [20]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [21]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [22]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10, 20, 30, 40, 50]
a[::-1]

[50, 40, 30, 20, 10]

In [33]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it
a = (10, 20, 30)
print(a)

(10, 20, 30)

In [34]:
#12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [35]:
#13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [36]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [37]:
#15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a = ('apple', 'orange', 'banana')
'banana' in a

True

In [38]:
#16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
a = {1, 2, 3, 4, 5}
print(a)

{1, 2, 3, 4, 5}

In [39]:
#17 Write a code to add the element 6 to the set {1, 2, 3, 4}
a = {1, 2, 3, 4}
a.add(6)
print(a)

{1, 2, 3, 4, 6}

In [48]:
#18 Write a code to create a tuple with the elements 10, 20, 30 and print it
a = tuple(range(10,31,10))
print(a)

(10, 20, 30)

In [43]:
#19 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
a = ('apple', 'banana', 'cherry')
a[0]

'apple'

In [53]:
#20 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [54]:
#21 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
a.index('cat')

1

In [55]:
#22 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
a = ('apple', 'orange', 'banana')
'banana' in a

True

In [56]:
#23 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
a = set(range(1,6))
print(a)

{1, 2, 3, 4, 5}

In [58]:
#24 Write a code to add the element 6 to the set {1, 2, 3, 4}
a = {1, 2, 3, 4}
a.add(6)
a

{1, 2, 3, 4, 6}